 
<style>

    /*    .ng-scope {
            font-family:"Helvetica Neue";
            background-color:  rgb(84, 214, 207);
        }*/

    body {
        background-color: rgb(84, 214, 207);
    }

    .exploreTitleContainer {
        margin-top: 20px;
        display: inline-block;
        margin-right: auto;
        margin-left: auto;
    }

    .exploreTitle {
        text-align: center;
        margin-top: 0;
        margin-bottom: 50px;
        color: white;
        font-weight: 400;
        letter-spacing: 3px;
        font-size: 30pt;
    }

    .center {
        margin: auto;
        width: 60%;
        padding: 10px 0px;
    }

    .center-text {
        text-align: center;
    }

    .circle-icon {
        display: inline-block;
        padding: 25px;
        border-radius: 50%;
    }

    .white-circle-icon {
        background-color: rgb(242, 109, 125);
    }

    .white-circle-icon i {
        color: white;
    }

    .className {
        text-align: center;
        color: rgb(242, 109, 125);
        font-size: 25pt;
    }

    .classDescription {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        color: gray;
        font-size: 13pt;
        padding-left: 23px;
        padding-right: 23px;
    }

    .moreToCome {
        color: red;
        font-size: 13pt;
    }

    .compLogos img {
        width: 140px;
        padding: 0px 15px;
    }

    .compLogos p {
        margin: 0px;
        margin-top: 30px;
        color: gray;
        font-style: italic;
    }

    .input-text {
        color: black;
    }

    .btn {
        cursor: default;
    }

    .theClassCard {
        background-color: red;
        display: inline-block;
    }

    .muted {
        opacity: .5;
    }

</style>
<div class="explorer page-container">
    <div ng-if="!ClassCtrl.class.finished">
        <h2 class="exploreTitle">TEST DRIVE PROFESSIONS</h2>
        <div style="text-align: center;">
            <div class="exploreTitleContainer">

                <div class="theClassCard" style="background-color: white; display: inline-block; border-radius: 20px;-webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.49);
-moz-box-shadow:    0px 0px 20px 0px rgba(50, 50, 50, 0.49);
box-shadow:         0px 0px 20px 0px rgba(50, 50, 50, 0.49); padding-top: 20px; padding-bottom: 30px; width: 250px;">
                    <div class="muted">
                        <div class="center center-text ">
                            <div class="white-circle-icon circle-icon">
                                <i class="fa fa-users fa-4x"></i>
                            </div>
                        </div>
                        <div class="center-text">
                            <div class="btn">
                                <span class="className" style="font-size: 17pt;">Social Media Marketer</span>
                            </div>
                            <h2 class="muted">COMING SOON</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="theClassCard" style="background-color: white; display: inline-block; border-radius: 20px;-webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.49);
-moz-box-shadow:    0px 0px 20px 0px rgba(50, 50, 50, 0.49);
box-shadow:         0px 0px 20px 0px rgba(50, 50, 50, 0.49); padding-top: 20px; padding-bottom: 30px; margin-right: 10px; margin-left: 10px;">
                <div class="center center-text ">
                    <div class="white-circle-icon circle-icon">
                        <i class="fa fa-eye fa-4x" ng-click="ExplorerCtrl.selectByIcon()"></i>
                    </div>
                </div>
                <div class="center-text ">
                    <div class="" ng-repeat="category in ExplorerCtrl.list">
                        <div class="btn" ng-click="ExplorerCtrl.selectClass(category)">
                            <span class="className">{{category.attributes.name}}</span>
                        </div>
                        <p class="classDescription" style="width: 450px;">Get a feel for the different tasks and type of
                            problem solving UX Designers face on a daily basis. By going through the steps of designing
                            a mobile app, you’ll finish with a greater understanding of this role’s responsibilities and
                            merit.</p>
                        <div class="compLogos">
                            <p>Built in collaboration with UX Designers from</p>
                            <img src="assets/images/googleGray.png">
                            <img src="assets/images/eb.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="theClassCard" style="background-color: white; display: inline-block; border-radius: 20px;-webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.49);
-moz-box-shadow:    0px 0px 20px 0px rgba(50, 50, 50, 0.49);
box-shadow:         0px 0px 20px 0px rgba(50, 50, 50, 0.49); padding-top: 20px; padding-bottom: 30px; width: 250px;">
                <div class="muted">
                    <div class="center center-text muted">
                        <div class="white-circle-icon circle-icon">
                            <i class="fa fa-file-code-o fa-4x"></i>
                        </div>
                    </div>
                    <div class="center-text">
                        <div class="btn">
                            <span class="className" style="font-size: 17pt;">Web Developer</span>
                        </div>

                        <h2 class="muted">COMING SOON</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<p class="center center-text moreToCome">Stay tuned for more to come...</p>-->
<form class="center center-text" name="InterestsForm" ng-submit="ExplorerCtrl.sendInterests(ExplorerCtrl.interests)">
    <div class="classDescription" style="color: white;">
        <h3>Want to explore other professions? Tell Us!</h3>
        <div style="width: 100px; margin: auto;border-bottom: 2px solid white;margin-bottom: 10px;opacity:.5;"></div>
        <input
                placeholder="ie; surgeon, chef, etc." type="text"
                style="width: 50%;margin: auto;"
                class="input input-text form-control" ng-model="ExplorerCtrl.interests" name="interests" ng-required="true"/>
    </div>

</form>
<br />
<br />
</div>



