 <style>
    .ng-scope {
        font-family:"Avenir Black";
        background-color:  rgb(84, 214, 207)
    }

    .exploreTitleContainer{ 
        margin-top: 20px;
    }
    .exploreTitle{
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
        color: white;
    }
    .center {
        margin: auto;
        width: 60%;
        border: 3px solid #73AD21;
        padding: 20px;
    }
    .center-text {
        text-align: center;
    }
    .white-circle-icon {
        border-radius: 50%;
        background-color:  50px;
    }
    
</style>
<div class="explorer page-container"
ng-init="DashCtrl.url = 'https://www.youtube.com/embed/H1I4ObpzszE'">
    <div class="exploreTitleContainer">
        <h2 class="exploreTitle">PICK THE PROFESSION THAT</h2>
        <h2 class="exploreTitle">BEST INTERESTS YOU!</h2>
        <div class="center center-text ">
            <div class="white-circle-icon">
                <i class="fa fa-eye fa-5x"></i>     
            </div>
        </div>
        <div class="center center-text">
            
            <div class="col-sm-3" ng-repeat="category in ExplorerCtrl.list">
                <div class="btn" ng-click="ExplorerCtrl.selectClass(category)">
                    {{category.attributes.name}}
                </div>
            </div>
        </div>
    </div>

    <p class="center center-text" >More to come...</p>
</div>